<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAd</servlet-name>
        <servlet-class>ValidateAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StorePw</servlet-name>
        <servlet-class>StorePw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaPa</servlet-name>
        <servlet-class>VaPa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>AddEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvents</servlet-name>
        <servlet-class>AddEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent</servlet-name>
        <servlet-class>ViewEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent1</servlet-name>
        <servlet-class>ViewEvent1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewParticipants</servlet-name>
        <servlet-class>ViewParticipants.ViewParticipants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewParticipants1</servlet-name>
        <servlet-class>ViewParticipants1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pe</servlet-name>
        <servlet-class>pe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Participants</servlet-name>
        <servlet-class>Participants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionsDetails</servlet-name>
        <servlet-class>TransactionsDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAd</servlet-name>
        <url-pattern>/ValidateAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StorePw</servlet-name>
        <url-pattern>/StorePw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaPa</servlet-name>
        <url-pattern>/VaPa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvents</servlet-name>
        <url-pattern>/AddEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent</servlet-name>
        <url-pattern>/ViewEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent1</servlet-name>
        <url-pattern>/ViewEvent1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewParticipants</servlet-name>
        <url-pattern>/ViewParticipants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewParticipants1</servlet-name>
        <url-pattern>/ViewParticipants1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pe</servlet-name>
        <url-pattern>/pe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Participants</servlet-name>
        <url-pattern>/Participants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionsDetails</servlet-name>
        <url-pattern>/TransactionsDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
